<!-- Accommodation Section -->
<section id="accommodation">
    <div class="container">

        <!-- Section title -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Accommodation</h2>
            </div>
        </div>

        <!-- Main content -->
        <div class="row">
            <div class="col-lg-12">

                <p>
                    Zaragoza is one of Spain’s major cities. The capital of the Region of Aragon is located on 
                    the banks of the Ebro River, halfway between Madrid and Barcelona. There are many reasons to come 
                    to this open, cosmopolitan and friendly city. Today Zaragoza is a bustling and expanding city with 
                    a population of more than 600,000 inhabitants. As its urban development continues to grow, it is 
                    now spreading out on both sides of the Ebro river. Thanks to its solid industrial background, 
                    buoyant commercial aspect and first-class hotel infrastructure, Zaragoza has become an ideal 
                    center for conferences, trade fairs and congresses. This is also aided by its strategic position 
                    at the center of the main provincial capitals.
                </p>

                <p>
                    Zaragoza has an excellent and varied hotel infrastructure. Generally, the prices of many of the 
                    flagship hotels of upper-middle range are not high at all and remain stable throughout the year. 
                    This contributes to a great extent so that both tourists and businessmen can enjoy the amenities 
                    and gastronomy of this multicultural city.
                </p>

                <p>
                    Here is our recommended selection based on the proximity to the city and price-quality ratio:
                </p>

            <div class="separator"></div>
            <p class="hotel-list">
                <a href="https://hotelalfonsozaragoza.com/" target="_blank">HOTEL ALFONSO</a> - 
                <a href="https://www.palafoxhoteles.com/es/hoteles-en-zaragoza/hotel-palafox" target="_blank">HOTEL PALAFOX</a> - 
                <a href="https://www.vinccizaragozazentro.com/" target="_blank">HOTEL VINCCI ZARAGOZA</a> - 
                <a href="https://www.nh-collection.com/es/hotel/nh-collection-gran-hotel-de-zaragoza" target="_blank">NH COLLECTION GRAN HOTEL ZARAGOZA</a> - 
                <a href="https://donyo.zenithoteles.com/es/" target="_blank">HOTEL ZENIT DON YO</a> - 
                <a href="https://hotel-oriente.com/en" target="_blank">HOTEL ORIENTE</a> - 
                <a href="https://www.hoteles-silken.com/es/hotel-reino-de-aragon-zaragoza/" target="_blank">HOTEL SILKEN REINO DE ARAGÓN</a> - 
                <a href="https://www.nh-hotels.com/es/hotel/nh-ciudad-de-zaragoza" target="_blank">NH CIUDAD DE ZARAGOZA</a>
            </p> 

        </div>

    </div>
</section>
