<!-- Intro Section -->
<section id="intro" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    General Information
                </h2>
            </div>
        </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-lg-12">

            <h3>Multivariate Information Theory and High-Order Interactions in Complex Systems (MITHIC)</h3>
            <p>
                The behaviour of complex systems often arises from intricate interactions between multiple components, not merely pairwise but higher-order interactions. Traditional analysis tools are limited in detecting such complex dependencies. 
                <strong>Multivariate Information Theory (MVIT)</strong> offers a robust framework to capture and quantify these interactions, providing tools such as Total Correlation, O-Information, and Partial Information Decomposition. 
            </p>
            <p> 
                This workshop aims to bring together early-career researchers, students, and domain experts to explore MVIT, both from theoretical and practical perspectives. 
                <strong>Thematic focus areas include applications in a range of complex systems — covering neuroscience, epidemics, and systems biology — with special attention to the overlap between MVIT and high-order network theory</strong>.
                By blending instruction with collaborative exploration, the MITHIC workshop seeks to advance understanding of how to use multivariate dependencies to study collective behaviour emerging from high-order interactions and to foster new interdisciplinary research directions.
            </p>

            <h3>About the Workshop</h3>
            <p>
                Are you working with high-dimensional datasets? Curious about how complex, emergent behaviour arises from interactions among many variables?
                Join us for MITHIC 2026, a <strong>hands-on workshop</strong> exploring how Multivariate Information Theory (MVIT) can help you uncover hidden structures and high-order dependencies in Complex Systems. 
                Learn the theoretical and practical tools for analysing interactions beyond the pairwise level, focusing on collective dynamics. We will explore key MVIT metrics like Total Correlation, O-Information, and Partial Information Decomposition, and their applications across disciplines.
            </p>

            <h3>Important dates</h3>
            <ul>
                    <li><strong>Application opens:</strong> 1 December, 2025</li>
                    <li><strong>Application deadline:</strong> <del>13 February</del>  9 March, 2026 (included)</li>
                    <li><strong>Notification of acceptance:</strong> 16 March, 2026*</li>
                    <li><strong>Workshop dates:</strong> 11-13 May 2026</li>
                </ul>
                <p>* Subject to change based on application volume.</p>

            <!-- Registration button -->
            <center>
                <a href="https://forms.gle/gfLahv5d8mDodP8t6" class="page-scroll btn btn-xl" style="margin-top: 20px;">Application Closed</a>
            </center>

            <h3>Application</h3>
            <p>
                We welcome graduate students, postdocs, and researchers in physics, biology, neuroscience, AI, data science, and related fields. Prior programming experience in Python is helpful but not mandatory.
                The workshop is <strong>free of charge</strong>, thus limited to a maximal number of 30 participants. 
                These will be selected based on the quality of their applications.
                To apply, please use the <a href="https://forms.gle/gfLahv5d8mDodP8t6">online application form</a>.
            </p>
            <p>
                We will <strong>provide lunch and a coffee break each day.</strong> 
                Also, we invite you to a <strong>social dinner</strong> to complete the event, free of charge. 
                However, we <strong>do not</strong> cover travel or accommodation expenses.
            </p>
            <h3>Student Grants</h3>
            <p>
                We also provide a limited number of <strong>student grants</strong> to help cover travel or accommodation expenses of young scholars with limited or no access to financial resources.
                Applicants wishing to be considered for a travel grant should indicate this in their application form and provide a brief motivation.
                Successful applicants will be notified along with their acceptance letters.
            </p>


            <h3>Venue</h3>
            <p>
                The conference will be held at<br>
                <a href="https://bifi.es/" target="_blank">Institute for Bio-computation and Physics of Complex Systems (BIFI)</a><br>
                Mariano Esquillor, Edificio I + D<br>
                <a href="https://maps.app.goo.gl/tWc5BrB9FUKDi2Jr7" target="_blank">Campus Río Ebro, Calle María de Luna, 1, 50018 Zaragoza, Spain</a>
            </p>

            <p>
                <div class="col-lg-6">
                     <img src="css/2016_style/img/Venue_Building_entrance.JPG" alt="Venue Banner" style="max-width:100%;">
                </div>
                <div class="col-lg-6">
                     <img src="css/2016_style/img/Venue_Building.JPG" alt="Venue Banner" style="max-width:100%;">
                </div>
               
            </p>
            </div>
        <div class="col-lg-12">
            <hr>

            <h3>How to reach the Campus Rio Ebro</h3>
            <h4 style="font-size: 1.0em; color:grey">From the train station Zaragoza Delicias</h4>
            <p>
                <strong>Option 1: Taxi</strong> <br>
                This is the fastest option to reach the venue. 
                There are usually a lot of taxis waiting once you arrive, so you do not need an app to book one. 
                The trip costs around 10-15€. You can pay by card or cash and you can ask for an invoice (ask for "la factura"). <br>

                <strong>Option 2: Public transportation</strong> <br>
                It is possible to reach the venue with a combination of bus and tram, and it takes around 30-35 minutes. 
                You can buy the physical ticket at the “Estación Central de Autobuses”(it is inside the train station) at some automatic machined, or directly on the bus (but only cash is accepted in this last case). A single ticket costs 1,70€. <br>
                <em>Important note</em>: there is a digital ticket that you can buy on the app Avanza Zaragoza, but it is valid only for the bus, not for the tram!<br>
                <em>Important note</em>: The ticket is valid for only one travel, thus if you change transportation, you need to buy a new ticket.

            </p>
            <h4 style="font-size: 1.0em; color:grey">From the city center</h4>
            <p>
                The <strong>tram</strong> is the most efficient way to reach the conferences. It passes every 4/5 minutes and gets you to the campus quite fast. 
                It cuts through the whole city, so your accommodation is likely close to one of the tram stops.
                You can buy the single ticket (Billete sencillo: 1.70€) at the machines that are present at every tram stop. The tram stop closer to the conference venue is "Campus Rio Ebro".
            </p>
            <h4 style="font-size: 1.0em; color:grey">From the Airport</h4>
            <p>
                The Zaragoza airport is not connected directly to the campus through public transportation. Thus, you can take a taxi or reach the city center first and follow the directions from there.
                There is a bus that costs 4.65€ and gets you from the airport to the city center. More information <a href="https://aeropuerto.lazo.app/" target="_blank">here</a>.
            </p>
        </div>
        <div class="col-lg-12">
            <hr>
            <h3>Moving inside the campus</h3>
            <p>
                Once you reach the tram stop "Campus Rio Ebro", you need to reach the building I + D following the blue path highlighted on the map below.
                We will also put up some signs to better guide you. Once you reach the building, you enter and take the right stairs. 
                We will be waiting for you in the first floor, in the first corridor on the left.
            </p>
            <div class="col-lg-12">
                 <img src="css/2016_style/img/Mithic_directions.png" alt="Directions" style="max-width:100%;">
            </div>

        </div>
        </div>
    </div>
</section>

