<!-- Intro Section -->
<section id="intro" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    General Information
                </h2>
            </div>
        </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-lg-12">

            <p>
                <h3>Multivariate Information Theory and High-Order Interactions in Complex Systems (MITHIC)</h3>
                The behaviour of complex systems often arises from intricate interactions between multiple components, not merely pairwise but higher-order interactions. Traditional analysis tools are limited in detecting such complex dependencies. 
                <strong>Multivariate Information Theory (MVIT)</strong> offers a robust framework to capture and quantify these interactions, providing tools such as Total Correlation, O-Information, and Partial Information Decomposition. </br> 
                This workshop aims to bring together early-career researchers, students, and domain experts to explore MVIT, both from theoretical and practical perspectives. 
                Thematic focus areas include applications in a range of complex systems — covering neuroscience, epidemics, and systems biology — with special attention to the overlap between MVIT and high-order network theory.
                By blending instruction with collaborative exploration, the MITHIC workshop seeks to advance understanding of how to use multivariate dependencies to study collective behaviour emerging from high-order interactions and to foster new interdisciplinary research directions.
            </p>

            <p>
                <h3>About the Workshop</h3>
                Are you working with high-dimensional datasets? Curious about how complex, emergent behaviour arises from interactions among many variables?
                Join us for MITHIC 2026, a <strong>hands-on workshop</strong> exploring how Multivariate Information Theory (MVIT) can help you uncover hidden structures and high-order dependencies in Complex Systems. 
                Learn the theoretical and practical tools for analysing interactions beyond the pairwise level, focusing on collective dynamics. We will explore key MVIT metrics like Total Correlation, O-Information, and Partial Information Decomposition, and their applications across disciplines.
            </p>

            <!-- Registration button -->
            <center>
                <a href="https://forms.gle/gfLahv5d8mDodP8t6" class="page-scroll btn btn-xl" style="margin-top: 20px;">Application Open</a>
            </center>

            <p>
                <h3>Registration and Funding</h3>
                The workshop is open to all graduate students, postdocs, and researchers in physics, biology, neuroscience, AI, data science, and related fields. Prior programming experience in Python is helpful but not mandatory.
                The workshop is free of charge but registration is mandatory.</br>
                To register, please use the <a href="https://forms.gle/gfLahv5d8mDodP8t6">online registration form</a>.
                Due to limited capacity, the maximal number of participants is restricted to 30. We will <strong>provide lunch and a coffee break each day.</strong> 
                Also, we invite you to a <strong>social dinner</strong> to complete the event, free of charge. 
                Young scholars with limited or no access to financial resources to participate in the workshop can apply for our <strong>student grant</strong>.
                Note that this grant will only reimburse travel costs, not accommodation.
            </p>

            <p>
                <h3>Venue</h3>
                The conference will be held at<br>
                <a href="https://bifi.es/" target="_blank">Institute for Bio-computation and Physics of Complex Systems (BIFI)</a><br>
                Mariano Esquillor, Edificio I + D<br>
                Salón de actos, Edificio Ada Byron (First floor)<br>
                <a href="https://maps.app.goo.gl/tWc5BrB9FUKDi2Jr7" target="_blank">Campus Río Ebro, Calle María de Luna, 1, 50018 Zaragoza, Spain</a>
            </p>

            <p>
                <img src="css/2016_style/img/banner_Venue.png" alt="Venue Banner" style="max-width:100%;">
            </p>
            </div>
        </div>
    </div>
</section>

