 <!-- Portfolio Modals -->
  <script src="https://kit.fontawesome.com/fa39e21490.js" crossorigin="anonymous"></script>

  <style>
    .btn-scholar{
        background-color: #91cad8;
        color: #000
    }
  </style>

 {% for post in site.data.twenty_17.speakers %}
    <div class="portfolio-modal modal fade" id="{{ post.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="../css/2017_style/img/speaker/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <h3>Topic: {{ post.topic }}</h3>
                            <p>{{ post.description }}</p>
                            <a href="{{ post.personal-website }}" class  = "btn btn-scholar" target="_blank"><i class="fa-solid fa-user"></i></i> Personal website</a>
                            <a href="{{ post.scholar }}" class  = "btn btn-scholar" target="_blank"><i class="fa-brands fa-google-scholar"></i> Google scholar</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
